<div class="devsite-header-upper-tabs">              
    <devsite-tabs class="upper-tabs" connected="">
    <nav class="devsite-tabs-wrapper" aria-label="Upper tabs">
        <tab>     
      <a href="https://developers.google.com/machine-learning/guides" track-metadata-eventdetail="https://developers.google.com/machine-learning/guides" class="devsite-tabs-content gc-analytics-event " track-type="nav" track-metadata-position="nav - guides" track-metadata-module="primary nav" data-category="Site-Wide Custom Events" data-label="Tab: Guides" track-name="guides">
      Guides
      </a>
        </tab>

      <tab overflow-tab=""><a href="#" class="devsite-icon devsite-icon-arrow-drop-down">More</a><div class="devsite-tabs-overflow-menu" scrollbars="" hidden=""><tab>
              
      <a href="https://developers.google.com/machine-learning/foundational-courses" track-metadata-eventdetail="https://developers.google.com/machine-learning/foundational-courses" class="devsite-tabs-content gc-analytics-event " track-type="nav" track-metadata-position="nav - foundational courses" track-metadata-module="primary nav" data-category="Site-Wide Custom Events" data-label="Tab: Foundational courses" track-name="foundational courses">
      Foundational courses
    
      </a>
    
    
            </tab><tab>
              
      <a href="https://developers.google.com/machine-learning/advanced-courses" track-metadata-eventdetail="https://developers.google.com/machine-learning/advanced-courses" class="devsite-tabs-content gc-analytics-event " track-type="nav" track-metadata-position="nav - advanced courses" track-metadata-module="primary nav" data-category="Site-Wide Custom Events" data-label="Tab: Advanced courses" track-name="advanced courses">
      Advanced courses
    
      </a>
    
    
            </tab><tab dropdown="">
    
      <a href="https://developers.google.com/machine-learning/glossary" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary" class="devsite-tabs-content gc-analytics-event " track-type="nav" track-metadata-position="nav - glossary" track-metadata-module="primary nav" data-category="Site-Wide Custom Events" data-label="Tab: Glossary" track-name="glossary">
      Glossary
    
      </a>
    
    
      <a href="#" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Dropdown menu for Glossary" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary" track-metadata-position="nav - glossary" track-metadata-module="primary nav" data-category="Site-Wide Custom Events" data-label="Tab: Glossary" track-name="glossary" class="devsite-tabs-dropdown-toggle devsite-icon devsite-icon-arrow-drop-down"></a>
    
    <div class="devsite-tabs-dropdown" aria-label="submenu" hidden="">
      
      <div class="devsite-tabs-dropdown-content">
        
          <div class="devsite-tabs-dropdown-column
                      ">
            
              <ul class="devsite-tabs-dropdown-section
                         ">
                
                
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        All terms
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/clustering" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/clustering" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Clustering
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/df" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/df" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Decision Forests
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/fairness" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/fairness" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Fairness
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/fundamentals" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/fundamentals" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Fundamentals
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/googlecloud" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/googlecloud" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        GCP
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/image" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/image" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Image
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/language" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/language" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Lang Eval
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/recsystems" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/recsystems" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Recommendation Systems
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/rl" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/rl" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Reinforcement Learning
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/sequence" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/sequence" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        Sequence Models
                      </div>
                      
                    </a>
                  </li>
                
                  <li class="devsite-nav-item">
                    <a href="https://developers.google.com/machine-learning/glossary/tensorflow" track-type="nav" track-metadata-eventdetail="https://developers.google.com/machine-learning/glossary/tensorflow" track-metadata-position="nav - glossary" track-metadata-module="tertiary nav" tooltip="">
                      
                      <div class="devsite-nav-item-title">
                        TensorFlow
                      </div>
                      
                    </a>
                  </li>
                
              </ul>
            
          </div>
        
      </div>
    </div>
  </tab></div></tab></nav></devsite-tabs>
  
              
             </div>