<!-- component -->
<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>
      var cont=0;
  function loopSlider(){
    var xx= setInterval(function(){
          switch(cont)
          {
          case 0:{
              $("#slider-1").fadeOut(400);
              $("#slider-2").delay(400).fadeIn(400);
              $("#sButton1").removeClass("bg-purple-800");
              $("#sButton2").addClass("bg-purple-800");
          cont=1;
          
          break;
          }
          case 1:
          {
          
              $("#slider-2").fadeOut(400);
              $("#slider-1").delay(400).fadeIn(400);
              $("#sButton2").removeClass("bg-purple-800");
              $("#sButton1").addClass("bg-purple-800");
             
          cont=0;
          
          break;
          }
          
          
          }},8000);
  
  }
  
  function reinitLoop(time){
  clearInterval(xx);
  setTimeout(loopSlider(),time);
  }
  
  
  
  function sliderButton1(){
  
      $("#slider-2").fadeOut(400);
      $("#slider-1").delay(400).fadeIn(400);
      $("#sButton2").removeClass("bg-purple-800");
      $("#sButton1").addClass("bg-purple-800");
      reinitLoop(4000);
      cont=0
      
      }
      
      function sliderButton2(){
      $("#slider-1").fadeOut(400);
      $("#slider-2").delay(400).fadeIn(400);
      $("#sButton1").removeClass("bg-purple-800");
      $("#sButton2").addClass("bg-purple-800");
      reinitLoop(4000);
      cont=1
      
      }
  
      $(window).ready(function(){
          $("#slider-2").hide();
          $("#sButton1").addClass("bg-purple-800");
          
  
          loopSlider();
       
          
      
      
      
      
      });
  
    
    </script>
  </head>
  
  <body>
    <div class="sliderAx h-auto">
        <div id="slider-1" class="container mx-auto">
        <div class="bg-cover bg-center  mx-auto lg:py-56 text-white py-24 px-10 object-fill  bg-gray-100 bg-blend-multiply" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/440/744/885/ford-mustang-wallpaper-thumb.jpg)">
         <div class="md:w-1/2">
          <br><br>
          <p class="font-bold text-sm uppercase">Services</p>
          <p class="text-5xl font-bold">Welcome to cArEnTaL</p>
          <p class="text-2xl mb-10 leading-none">We are one of the most finest and comfortable car rental company</p>
          <a href="#" class="bg-green-700 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
          </div>  
      </div> <!-- container -->
        <br>
        </div>
  
        <div id="slider-2" class="container mx-auto">
          <div class="bg-cover bg-center  mx-auto lg:py-56 text-white py-24 px-10 object-fill  bg-gray-100 bg-blend-multiply" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/279/916/943/ford-mustang-shelby-gt500-eleanor-grey-vintage-ford-mustang-wallpaper-preview.jpg)">
            <br><br><br><br><br>
    <p class="font-bold text-sm uppercase">Services</p>
          <p class="text-5xl font-bold">Welcome to cArEnTaL</p>
          <p class="text-2xl mb-10 leading-none">We are one of the most finest and comfortable car rental company</p>
          <a href="#" class="bg-green-700 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
           
      </div> <!-- container -->
        <br>
        </div>
      
  
  </body>