<div class="ml-hero h-72">
    <!-- <header class="ml-hero-header">
      <h2 class="ml-hero-title">Google Machine Learning Education</h2>
      <p class="ml-hero-subtitle">Learn to build ML products with Google's Machine Learning Courses</p>
    </header> -->
    <video class="ml-hero-video" autoplay="" loop="" muted="" preload="" poster="https://developers.google.com/machine-learning/crash-course/images/landing-hero.png">
      <source src="https://developers.google.com/static/machine-learning/crash-course/images/landing-hero-video.webm" type="video/mp4">
    </video>
    <!-- <button type="button" class="ml-hero-video-button" aria-label="Pause video">
      <span aria-hidden="true" class="ml-hero-video-button-icon material-icons">pause</span>
    </button> -->
  </div>