<section role="article" about="/node/2591864" id="2591864" class="ibm-duo-band ibm-duo-module-1a ibm-background-gray-100 ibm-duo-u--bg-lazy-load--processed" data-bg-lazy-load="">
    <div class="ibm-duo-carousel-fullwidth slick-initialized slick-slider slick-dotted" role="region" aria-roledescription="carousel">
<button type="button" class="slick-prev slick-arrow" data-ibm-cm-avoid="true" style="">
<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" aria-label="Show previous content" data-di-res-id="feda1c09-52bb251c" data-di-rand="1687434044603"><path d="m10 16l10-10l1.4 1.4l-8.6 8.6l8.6 8.6l-1.4 1.4l-10-10z"></path></svg>
</button>
          
    
    
    
          <button type="button" class="slick-next slick-arrow" data-ibm-cm-avoid="true" style="">
<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" aria-label="Show next content" data-di-res-id="feda1c09-961fea99" data-di-rand="1687434044603"><polygon points="22,16 12,26 10.6,24.6 19.2,16 10.6,7.4 12,6"></polygon></svg>
</button>
<div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4264px;"><div class="ibm-duo-carousel-fullwidth__item slick-slide slick-current slick-active" style="width: 1066px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" role="group" data-slick-index="0" aria-hidden="false">
  





<div class="ibm-duo-band ibm-duo-module-1a ibm-background-gray-100">
<div class="ibm-duo-module-1a__bg picturefill-background ibm-duo-u--overlay ibm-duo-u--overlay--dark" role="img" aria-label="Weather around the earth " style="background-image: url(&quot;//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-weather.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
<span data-src="//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-weather.jpg"></span>
<span data-src="" data-media="(min-width: 320px)"></span>
<span data-src="//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-weather.jpg" data-media="(min-width: 672px)"></span>
</div>

<div class="ibm-grid-container ibm-duo-module-1a__content">
<div class="ibm-grid-col-sm-4-4 ibm-grid-col-md-8-4 ibm-grid-col-lg-16-4 ibm-grid-col-xlg-16-5">
<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-8 ibm-grid-col-lg-16-16 ibm-grid-col-seamless">
<h2 class="bx--type-expressive-heading-05 ibm-textcolor-gray-10 ibm-mb-3 ibm-pb-0 ibm-duo-module-1a__headline ani-reveal ani-fadeInUp">
  <span> Real-time forecasting with IBM Power </span>

</h2>
</div>

<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-6 ibm-grid-col-lg-16-12 ibm-grid-col-seamless">
<div class="bx--type-body-long-02 ibm-textcolor-gray-30 ibm-mb-0 ibm-duo-module-1a__subhead ibm-duo-u--pb-5 ani-reveal ani-fadeInUp">
<p>Forecasting precision increased when The Weather Company® ran higher resolution and more computationally intensive AI weather models on the latest IBM® Power® technology.</p>

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-8 ibm-grid-col-xlg-16-7"></div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-4 ibm-grid-col-seamless ibm-duo-module-1a__cta">










<a target="_self" href="/case-studies/ibm-graf-from-the-weather-company" class="ibm-duo-cta ani-reveal ani-fadeInUp" data-di-id="di-id-d27b2a95-bd8c91af">
<p class="ibm-type-e ibm-textcolor-white-core ibm-p ibm-mb-0">Read The Weather Company's story</p>
<div class="ibm-duo-u--link-icon">




        <svg focusable="false" class="ibm-duo-u--link-icon--arrow-right" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" aria-label="View this link" width="20" height="20" viewBox="0 0 20 20" slot="icon" data-di-res-id="630d24b0-249c8ec" data-di-rand="1687434044604"><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>


</div>
</a>


</div>

</div>
</div>


</div><div class="ibm-duo-carousel-fullwidth__item slick-slide" style="width: 1066px; position: relative; left: -1066px; top: 0px; z-index: 998; opacity: 0;" role="group" data-slick-index="1" aria-hidden="true">
  





<div class="ibm-duo-band ibm-duo-module-1a ibm-background-gray-100">
<div class="ibm-duo-module-1a__bg picturefill-background ibm-duo-u--overlay ibm-duo-u--overlay--dark" role="img" aria-label="Manufacturing plant" style="background-image: url(&quot;//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-tomago.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
<span data-src="//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-tomago.jpg"></span>
<span data-src="" data-media="(min-width: 320px)"></span>
<span data-src="//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-tomago.jpg" data-media="(min-width: 672px)"></span>
</div>

<div class="ibm-grid-container ibm-duo-module-1a__content">
<div class="ibm-grid-col-sm-4-4 ibm-grid-col-md-8-4 ibm-grid-col-lg-16-4 ibm-grid-col-xlg-16-5">
<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-8 ibm-grid-col-lg-16-16 ibm-grid-col-seamless">
<h2 class="bx--type-expressive-heading-05 ibm-textcolor-gray-10 ibm-mb-3 ibm-pb-0 ibm-duo-module-1a__headline ani-reveal ani-fadeInUp">
  <span> Private cloud for critical workloads</span>

</h2>
</div>

<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-6 ibm-grid-col-lg-16-12 ibm-grid-col-seamless">
<div class="bx--type-body-long-02 ibm-textcolor-gray-30 ibm-mb-0 ibm-duo-module-1a__subhead ibm-duo-u--pb-5 ani-reveal ani-fadeInUp">
<p>Tomago Aluminum Company Pty. moves SAP HANA® from a public cloud to a private cloud with IBM Power, IBM flash storage and Red Hat for pricing consistency, resiliency and the flexibility to scale up easily.</p>
</div>
</div>
</div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-8 ibm-grid-col-xlg-16-7"></div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-4 ibm-grid-col-seamless ibm-duo-module-1a__cta">










<a target="_self" href="https://www.ibm.com/case-studies/tomago-aluminium/" class="ibm-duo-cta ani-reveal ani-fadeInUp" data-di-id="di-id-e9af0f2b-7c1c8b05">
<p class="ibm-type-e ibm-textcolor-white-core ibm-p ibm-mb-0">Read the Tomago Aluminum story</p>
<div class="ibm-duo-u--link-icon">




        <svg focusable="false" class="ibm-duo-u--link-icon--arrow-right" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" aria-label="View this link" width="20" height="20" viewBox="0 0 20 20" slot="icon" data-di-res-id="630d24b0-ea7126af" data-di-rand="1687434044604"><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>


</div>
</a>


</div>

</div>
</div>


</div><div class="ibm-duo-carousel-fullwidth__item slick-slide" style="width: 1066px; position: relative; left: -2132px; top: 0px; z-index: 998; opacity: 0;" role="group" data-slick-index="2" aria-hidden="true">
  





<div class="ibm-duo-band ibm-duo-module-1a ibm-background-gray-100">
<div class="ibm-duo-module-1a__bg picturefill-background ibm-duo-u--overlay ibm-duo-u--overlay--dark" role="img" aria-label="Autonomous driving car interior" style="background-image: url(&quot;//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-continental.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
<span data-src="//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-continental.jpg"></span>
<span data-src="" data-media="(min-width: 320px)"></span>
<span data-src="//1.cms.s81c.com/sites/default/files/2021-02-22/it-infrastructure-8360-casestudies-continental.jpg" data-media="(min-width: 672px)"></span>
</div>

<div class="ibm-grid-container ibm-duo-module-1a__content">
<div class="ibm-grid-col-sm-4-4 ibm-grid-col-md-8-4 ibm-grid-col-lg-16-4 ibm-grid-col-xlg-16-5">
<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-8 ibm-grid-col-lg-16-16 ibm-grid-col-seamless">
<h2 class="bx--type-expressive-heading-05 ibm-textcolor-gray-10 ibm-mb-3 ibm-pb-0 ibm-duo-module-1a__headline ani-reveal ani-fadeInUp">
  <span> Autonomous driving solutions with storage and AI</span>

</h2>
</div>

<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-6 ibm-grid-col-lg-16-12 ibm-grid-col-seamless">
<div class="bx--type-body-long-02 ibm-textcolor-gray-30 ibm-mb-0 ibm-duo-module-1a__subhead ibm-duo-u--pb-5 ani-reveal ani-fadeInUp">
<p>The flexibility and seamless integration of IBM Storage with containers allowed Continental to modernize its application development without giving up performance, scalability or simplicity.</p>
</div>
</div>
</div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-8 ibm-grid-col-xlg-16-7"></div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-4 ibm-grid-col-seamless ibm-duo-module-1a__cta">










<a target="_self" href="https://www.ibm.com/case-studies/continental-automotive/" class="ibm-duo-cta ani-reveal ani-fadeInUp" data-di-id="di-id-484eaf19-648f261d">
<p class="ibm-type-e ibm-textcolor-white-core ibm-p ibm-mb-0">Read the Continental Automotive story</p>
<div class="ibm-duo-u--link-icon">




        <svg focusable="false" class="ibm-duo-u--link-icon--arrow-right" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" aria-label="View this link" width="20" height="20" viewBox="0 0 20 20" slot="icon" data-di-res-id="630d24b0-f0aa81d1" data-di-rand="1687434044604"><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>


</div>
</a>


</div>

</div>
</div>


</div><div class="ibm-duo-carousel-fullwidth__item slick-slide" style="width: 1066px; position: relative; left: -3198px; top: 0px; z-index: 998; opacity: 0;" role="group" data-slick-index="3" aria-hidden="true">
  





<div class="ibm-duo-band ibm-duo-module-1a ibm-background-gray-100">
<div class="ibm-duo-module-1a__bg picturefill-background ibm-duo-u--overlay ibm-duo-u--overlay--dark" role="img" aria-label="Warehouse worker holding a tablet" style="background-image: url(&quot;//1.cms.s81c.com/sites/default/files/2021-08-26/it-infra-0556-casestudy-phoenixsystems.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
<span data-src="//1.cms.s81c.com/sites/default/files/2021-08-26/it-infra-0556-casestudy-phoenixsystems.jpg"></span>
<span data-src="" data-media="(min-width: 320px)"></span>
<span data-src="//1.cms.s81c.com/sites/default/files/2021-08-26/it-infra-0556-casestudy-phoenixsystems.jpg" data-media="(min-width: 672px)"></span>
</div>

<div class="ibm-grid-container ibm-duo-module-1a__content">
<div class="ibm-grid-col-sm-4-4 ibm-grid-col-md-8-4 ibm-grid-col-lg-16-4 ibm-grid-col-xlg-16-5">
<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-8 ibm-grid-col-lg-16-16 ibm-grid-col-seamless">
<h2 class="bx--type-expressive-heading-05 ibm-textcolor-gray-10 ibm-mb-3 ibm-pb-0 ibm-duo-module-1a__headline ani-reveal ani-fadeInUp">
  <span> Fusing public cloud with unprecedented security</span>

</h2>
</div>

<div class="ibm-grid-col-sm-4-3 ibm-grid-col-md-8-6 ibm-grid-col-lg-16-12 ibm-grid-col-seamless">
<div class="bx--type-body-long-02 ibm-textcolor-gray-30 ibm-mb-0 ibm-duo-module-1a__subhead ibm-duo-u--pb-5 ani-reveal ani-fadeInUp">
<p>Phoenix Systems provides clients with a Trusted Execution Environment, from the cryptographic co-processors in the LinuxONE server to the support for confidential computing where security is built into every layer of their stack.</p>
</div>
</div>
</div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-8 ibm-grid-col-xlg-16-7"></div>

<div class="ibm-grid-col-sm-4-2 ibm-grid-col-md-8-2 ibm-grid-col-lg-16-4 ibm-grid-col-seamless ibm-duo-module-1a__cta">










<a target="_blank" href="https://www.ibm.com/case-studies/phoenix-systems/" class="ibm-duo-cta ani-reveal ani-fadeInUp" data-di-id="di-id-c3c06e56-36c17e80">
<p class="ibm-type-e ibm-textcolor-white-core ibm-p ibm-mb-0">Read the Phoenix Systems story</p>
<div class="ibm-duo-u--link-icon">




        <svg focusable="false" class="ibm-duo-u--link-icon--arrow-right" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" aria-label="View this link" width="20" height="20" viewBox="0 0 20 20" slot="icon" data-di-res-id="dbb143d5-615eb55f" data-di-rand="1687434044605"><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>


</div>
</a>


</div>

</div>
</div>


</div></div></div><ul class="slick-dots" style=""><li class="slick-active"><button type="button" data-role="none" role="button" tabindex="0" data-di-id="di-id-fae8abec-d7165a13">1</button></li><li><button type="button" data-role="none" role="button" tabindex="0" data-di-id="di-id-fae8abec-4e1f0ba9">2</button></li><li><button type="button" data-role="none" role="button" tabindex="0" data-di-id="di-id-fae8abec-39183b3f">3</button></li><li><button type="button" data-role="none" role="button" tabindex="0" data-di-id="di-id-fae8abec-a77cae9c">4</button></li></ul></div>
</section>