<div class="mx-auto lg:px-8 ">
    <div class="py-8 lg:py-10 mx-auto max-w-screen-xl px-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-justify">
                <h3 class="animate-charcter">Why carrental</h3>
                </div>
            </div>
        </div>
        <p class="font-display mt-6 text-lg text-black dark:text-zinc-400">cArEnTaL is a Delhi based car hire/car rental company which provides a magnificent range of vehicles to its users. Our range of vehicles is large, starting from the smallest and the basic of hatchbacks to the most luxurious and premium sedans, convertibles and super premium SUVs, to suit all budgets and purposes.
        cArEnTaL is a very customer oriented company where client service and satisfaction comes first. This is achieved through our 24/7 customer support and care center which is manned by highly experienced professionals from the industry to provide the best possible management of backend operations for our clients. Further to this we have our in house maintenance team which makes sure every time you hire a car or rent from us, it is in top mechanical condition.</p>
    </div>
</div>