<section class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container px-6 py-12 mx-auto">
		<div class="grid items-center gap-4 xl:grid-cols-5">
			<div class="max-w-2xl mx-auto my-8 space-y-4 text-center xl:col-span-2 xl:text-left">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-justify">
						<h3 class="animate-charcter"> Incredible<br> customer Says</h3>
						</div>
					</div>
				</div>
				<p class="dark:text-gray-400">Our clients send us bunch of smilies with our services and we love them.</p>
			</div>
			<div class="p-6 xl:col-span-3">
				<div class="grid gap-4 md:grid-cols-2">
					<div class="grid content-center gap-4">
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>Best Service, Good Quality Cars And Best People To Deal With. I Had My Best Experience Till Date With <u>cArEnTaL</u> I Personally Recommend People To Use Their Service Rather Than Going For Zoom Car Or Other Services Hassle Free Documentation Good Dealing With Customer All Around A1 Service ....</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?1" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Leroy Jenkins</p>
									<p class="text-sm dark:text-gray-400">Delhi, India</p>
								</div>
							</div>
						</div>
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>It Was Great Pleasure To Use <u>cArEnTaL</u> Service. I Hired Mercedes E Class From Delhi To Alwar And It Was Awesome Experienced. The Car Condition Of Self Drive Were Excellent And I Will Use Self Drive Service Again Because The Rate Given On Reasonable Price.</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?2" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Pallika</p>
									<p class="text-sm dark:text-gray-400">Canada</p>
								</div>
							</div>
						</div>
					</div>
					<div class="grid content-center gap-4">
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>Booked for 4 days for a family trip. Car was water washed and sanitized when I recieved it. Trip and the process were very comfortable and hassle-free. Best self-drive car service provider. I strongly recommend Revv. Looking forward to using <u>cArEnTaL</u> car again.</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?3" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Leroy Jenkins</p>
									<p class="text-sm dark:text-gray-400">NYC, US</p>
								</div>
							</div>
						</div>
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p> <u>cArEnTaL</u> Made Our Trip Awesome With Their Well-maintained Car. It Was Neat & Clean Not Only Inside But Outside Too. The Audio Quality Of Music System Was Great Which Added More Fun In Our Journey... Thanks Selfdrives... Tell You Honestly I Was Bit Confused While Booking With Selfdrive After Reading Your Previous Reviews But After Personal Experience I Thought To Write Here As Other Customers Deserve To Know The Reality. I Would Definitely Recommend SELFDRIVES To Everyone If You Are Looking To Book Selfdrive Car From Delhi To Xyz Place..</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?4" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Sunil Sharma</p>
									<p class="text-sm dark:text-gray-400">Mumbai, India</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>